<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team_project_cookie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/intro"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team_Project_Cookie">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf9jrMX9Gxh8SuTr2w_Jg-6ALEUp3n-fQ" />

        <activity android:name=".RecipelistActivity" />
        <activity android:name=".ToobarActivity" />
        <activity
            android:name=".AddproductActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".User_Profile_Edit"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".HomeMenu" />
        <activity android:name=".RecipeActivity" />
        <activity android:name=".Join_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Intro_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>